html,
body,
div,
p,
span,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
header,
footer {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}
ul,
ol {
  list-style-type: none;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 3px solid;
}
.navbar .navbar-container {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar .nav-trigger {
  display: none;
}
.navbar .left {
  float: left;
}
.navbar .right {
  float: right;
}
.navbar .bland {
  font-size: 24px;
  line-height: 60px;
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 100;
}
.navbar .bland a {
  color: #111;
  text-decoration: none;
}
.navbar .navbar-nav li {
  float: left;
  line-height: 60px;
  font-size: 16px;
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 400;
}
.navbar .navbar-nav li > a {
  display: block;
  padding: 0 12px;
  text-decoration: none;
  background-color: transparent;
  color: #555;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.navbar .navbar-nav li > a:hover {
  color: #fff;
}
.global-footer {
  overflow: hidden;
  clear: both;
  height: 100%;
  background: #eee;
}
.global-footer .jumper {
  width: 100%;
  height: 40px;
  text-align: center;
  background: #454545;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.global-footer h5 {
  margin-bottom: 10px;
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 400;
}
.global-footer .container {
  padding: 30px 0;
}
.global-footer .container .launchers {
  overflow: hidden;
  margin: 10px 0;
}
.global-footer .container .launchers > li {
  float: left;
  padding: 30px 20px;
  box-sizing: border-box;
}
.global-footer .container .launchers.col-3 > li {
  width: 33.333333333333336%;
}
.global-footer .container .launchers.col-2 > li {
  width: 50%;
}
.global-footer .container .launcher {
  overflow: hidden;
  margin: 20px;
}
.global-footer .container .dist-list {
  margin: 0 20px;
}
.global-footer .container .dist-list li {
  position: relative;
  margin-left: 25px;
}
.global-footer .container .dist-list li a {
  line-height: 25px;
  font-size: 14px;
  color: #111;
}
.global-footer .container .dist-list li a:hover {
  text-decoration: none;
}
.global-footer .container .dist-list li span {
  margin-left: 5px;
  font-size: 11px;
}
.global-footer .container .dist-list li span::before {
  content: '(';
}
.global-footer .container .dist-list li span::after {
  content: ')';
}
.global-footer .container .dist-list li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -16px;
  width: 6px;
  height: 6px;
  margin: -3px 0;
  border-radius: 100%;
}
.global-footer .container .profile {
  overflow: hidden;
}
.global-footer .container .profile .avator {
  float: left;
  width: 60px;
  height: 60px;
}
.global-footer .container .profile .content {
  margin: 10px 0 0 70px;
}
.global-footer .container .profile .content .name {
  position: relative;
  margin-bottom: 16px;
  font-size: 20px;
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 400;
}
.global-footer .container .profile .content .name::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 1.8em;
  border-bottom: 1px dotted;
}
.global-footer .container .profile .content p {
  line-height: 1.65;
  font-size: 12px;
}
.global-footer .container .tagcloud {
  margin: 0 20px;
}
.global-footer .container .tagcloud a {
  display: inline-block;
  margin: 3px 2px;
  padding: 0 3px;
  color: #333;
  transition: color 0.2s ease;
}
.global-footer .container .tagcloud a:hover {
  text-decoration: none;
}
.global-footer .container .recent-posts {
  display: flex;
  width: 100%;
}
.global-footer .container .recent-posts .recent-post {
  flex: 1;
}
.global-footer .container .recent-posts .recent-post:nth-child(2) {
  margin: 0 20px;
}
.global-footer .container .recent-posts .recent-post .eyecatch {
  height: 120px;
  background-position: center center;
  background-size: cover;
}
.global-footer .container .recent-posts .recent-post .date {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  font-size: 11px;
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 400;
  color: #333;
}
.global-footer .container .recent-posts .recent-post .date::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1.2em;
  height: 1px;
}
.global-footer .container .recent-posts .recent-post h6 {
  min-height: 40px;
  line-height: 20px;
  font-size: 14px;
}
.global-footer .container .recent-posts .recent-post .recent-footer {
  align-items: center;
  margin: 15px 12px 0;
}
.global-footer .container .recent-posts .recent-post .recent-footer::after {
  content: '';
  display: block;
  clear: both;
}
.global-footer .container .recent-posts .recent-post .recent-footer .more {
  float: left;
  padding: 3px 12px;
  border: 1px solid;
  font-size: 12px;
  text-decoration: none;
}
.global-footer .container .recent-posts .recent-post .recent-footer .more:hover {
  color: #eee;
}
.global-footer .container .recent-posts .recent-post .recent-footer .categories {
  float: right;
}
.global-footer .container .recent-posts .recent-post .recent-footer .categories li {
  float: left;
}
.global-footer .container .recent-posts .recent-post .recent-footer .categories li a {
  color: #555;
  text-decoration: none;
  font-size: 11px;
}
.global-footer .container .recent-posts .recent-post .recent-footer .categories li a::before {
  content: '\f139';
  margin-right: 5px;
  font-family: Ionicons;
}
.global-footer .footer-info {
  clear: both;
  width: 100%;
  border-top: 3px solid;
  text-align: center;
  line-height: 60px;
  font-size: 12px;
  color: #555;
}
.global-footer .footer-info a {
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
.entry {
  position: relative;
  margin: 20px 0;
  background: #fff;
  box-shadow: 0 2px 10px -2px rgba(0,0,0,0.5);
}
.entry.entry-col-2 {
  float: left;
  width: 470px;
}
.entry.entry-col-2:nth-child(odd) {
  margin-left: 10px;
}
.entry.entry-col-2:nth-child(even) {
  clear: both;
  margin-right: 10px;
}
.entry .entry-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 12px 0;
}
.entry .entry-footer .more {
  display: inline-block;
  padding: 5px 18px;
  border: 1px solid;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}
.entry .entry-footer .more:hover {
  background-color: transparent !important;
}
.entry .entry-footer .categories li {
  float: left;
}
.entry .entry-footer .categories li a {
  color: #555;
  text-decoration: none;
  font-size: 12px;
}
.entry .entry-footer .categories li a::before {
  content: '\f139';
  margin-right: 5px;
  font-family: Ionicons;
}
.entry .footer .post-comment {
  margin: 30px 50px 0;
}
.entry.entry-post {
  overflow: hidden;
  margin: 40px 0;
  padding: 20px 0;
}
.entry.entry-post header {
  overflow: hidden;
}
.entry.entry-post header .date {
  position: relative;
  margin: 8px 15px 30px;
  font-size: 13px;
  line-height: 20px;
  color: #555;
}
.entry.entry-post header .date::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 1.8em;
  height: 1px;
}
.entry.entry-post header .post-title {
  margin: 0 30px;
  font-size: 24px;
  line-height: 35px;
  color: #555;
}
.entry.entry-post header .post-info {
  float: right;
  margin: 10px 20px 15px;
}
.entry.entry-post header .post-info li {
  float: left;
}
.entry.entry-post header .post-info li a {
  padding: 0 5px;
  font-size: 12px;
  text-decoration: none;
  color: #888;
}
.entry.entry-post header .post-info li a::before {
  margin-right: 2px;
  font-family: Ionicons;
  font-size: 0.8em;
}
.entry.entry-post header .post-info li a.post-category {
  font-size: 14px;
}
.entry.entry-post header .post-info li a.post-category::before {
  content: '\f435';
}
.entry.entry-post header .post-info li a.post-tag::before {
  content: '\f48d';
}
.entry.entry-post main {
  clear: both;
}
.entry.entry-post main .header {
  position: relative;
  margin: 20px 0;
  padding: 20px 50px;
  box-shadow: inset 0 10px 5px -10px #888, inset 0 -10px 3px -10px #aaa;
  z-index: 1;
}
.entry.entry-post main .header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("/images/common/header-bg.jpg") center bottom;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.5;
}
.entry.entry-post main .header .summary {
  text-align: center;
  font-size: 15px;
  line-height: 1.8;
}
.entry.entry-post main .header .toc {
  margin: 20px 0 0;
  padding: 20px 30px 0;
  border-top: 1px dashed #aaa;
}
.entry.entry-post main .header .toc .toc-number {
  display: none;
}
.entry.entry-post main .header .toc .toc-item {
  position: relative;
}
.entry.entry-post main .header .toc .toc-item::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  width: 8px;
  height: 8px;
  margin: -4px;
  background: #333;
  transform: rotate(45deg);
  transform-origin: center center;
  z-index: 188;
}
.entry.entry-post main .header .toc .toc-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: -15px;
  width: 2px;
  margin-left: -1px;
  background: #333;
  z-index: -1;
}
.entry.entry-post main .header .toc .toc-item a {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 30px;
  line-height: 30px;
  color: #333;
}
.entry.entry-post main .header .toc .toc-item a:hover {
  background: #fff;
  text-decoration: none;
  color: #333 !important;
  z-index: 1;
}
.entry.entry-post main .header .toc .toc-item:not(.toc-level-1) {
  margin-left: 30px;
}
.entry.entry-post main .content {
  margin: 40px 0;
}
.entry.entry-post main .content h1 {
  position: relative;
  margin: 60px 0 30px;
  padding: 20px 0 20px 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
  text-align: center;
}
.entry.entry-post main .content h1::before,
.entry.entry-post main .content h1::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 400px;
  height: 1px;
  margin-left: -200px;
}
.entry.entry-post main .content h1::before {
  top: -1px;
}
.entry.entry-post main .content h1::after {
  bottom: -1px;
}
.entry.entry-post main .content h2 {
  position: relative;
  margin: 50px 0 24px;
  padding: 10px 25px;
  border-bottom: 1px solid #ccc;
  font-size: 25px;
}
.entry.entry-post main .content h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 300px;
  height: 1px;
}
.entry.entry-post main .content h3 {
  margin: 40px 0 20px 25px;
  font-weight: bold;
  color: #333;
  font-size: 19px;
}
.entry.entry-post main .content ul {
  margin: 10px 30px 20px;
}
.entry.entry-post main .content ul > li {
  position: relative;
  margin: 6px 0 6px 20px;
  font-size: 17px;
  line-height: 24px;
}
.entry.entry-post main .content ul > li::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -20px;
  width: 6px;
  height: 6px;
  margin-top: -3px;
}
.entry.entry-post main .content ul > li ul {
  margin: 10px 15px;
}
.entry.entry-post main .content ul > li ul li::before {
  content: '';
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background-color: transparent !important;
  border: 1px solid;
  box-sizing: border-box;
  transform-origin: center center;
  transform: rotate(45deg);
}
.entry.entry-post main .content ol {
  counter-reset: orderedList;
  margin: 10px 30px 20px;
}
.entry.entry-post main .content ol > li {
  counter-increment: orderedList;
  position: relative;
  margin: 6px 0 6px 30px;
  font-size: 17px;
  line-height: 24px;
  color: #111;
}
.entry.entry-post main .content ol > li::before {
  content: counter(orderedList) '.';
  position: absolute;
  top: 0;
  left: -25px;
  line-height: 24px;
  text-align: right;
  font-size: 16px;
}
.entry.entry-post main .content ol ol {
  margin: 10px 15px;
  counter-reset: innerOrderedList;
}
.entry.entry-post main .content ol ol > li {
  counter-increment: innerOrderedList;
}
.entry.entry-post main .content ol ol > li::before {
  content: counter(innerOrderedList) '.';
}
.entry.entry-post main .content p {
  margin: 0 30px 20px;
  line-height: 2.15;
  font-size: 17px;
}
.entry.entry-post main .content p a {
  margin: 0 5px;
  color: #222;
  transition: color 0.08s ease;
}
.entry.entry-post main .content p a:hover {
  text-decoration: none;
}
.entry.entry-post main .content p em {
  margin: 0 0.2em;
  padding: 0 0.3em;
  font-style: normal;
}
.entry.entry-post main .content p img {
  display: block;
  max-width: 100%;
  margin: 8px auto;
}
.entry.entry-post main .content .page-link {
  margin: 0 0 10px;
}
.entry.entry-post main .content .page-link a {
  display: block;
  padding: 0 30px;
  background: #eee;
  text-decoration: none;
}
.entry.entry-post main .content .page-link a::before {
  content: '\f1fe';
  margin: 0 1.5em 0 0.35em;
  font-family: Ionicons;
  font-size: 1em;
}
.entry.entry-post main .content .page-link a:hover {
  background: #fafafa;
}
.entry.entry-post main .content .page-link a .title {
  font-size: 1em;
}
.entry.entry-post main .content .page-link a .author {
  margin-left: 0.6em;
  font-size: 0.8em;
}
.entry.entry-post main code {
  margin: 0 0.2em;
  padding: 0.2em 0.4em;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: 'Source Code Pro', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', monospace;
  font-size: 0.8em;
  color: #555;
}
.entry.entry-post main .highlight {
  width: 100%;
  box-sizing: border-box;
  background: #2d2d2d;
  margin: 0 0 20px 0;
  padding: 15px 20px;
  line-height: 24px;
  font-size: 15px;
}
.entry.entry-post main .highlight pre {
  overflow-x: auto;
  overflow-y: hidden;
  border: none;
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', monospace;
}
.entry.entry-post main .highlight table {
  margin: 0;
  width: auto;
}
.entry.entry-post main .highlight td {
  border: none;
  padding: 0;
}
.entry.entry-post main .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1.8em;
}
.entry.entry-post main .highlight figcaption a {
  float: right;
  color: #aaa;
}
.entry.entry-post main .highlight figcaption a:hover {
  text-decoration: none;
}
.entry.entry-post main .highlight .gutter pre {
  color: #666;
  font-size: 0.85em;
  text-align: right;
  padding-right: 20px;
}
.entry.entry-post main .highlight .line {
  height: 24px;
}
.entry.entry-post main .highlight .line.marked {
  background: #515151;
}
.entry.entry-post main .highlight pre,
.entry.entry-post main .highlight .comment,
.entry.entry-post main .highlight .title {
  color: #999;
}
.entry.entry-post main .highlight .variable,
.entry.entry-post main .highlight .attribute,
.entry.entry-post main .highlight .tag,
.entry.entry-post main .highlight .regexp,
.entry.entry-post main .highlight .ruby .constant,
.entry.entry-post main .highlight .xml .tag .title,
.entry.entry-post main .highlight .xml .pi,
.entry.entry-post main .highlight .xml .doctype,
.entry.entry-post main .highlight .html .doctype,
.entry.entry-post main .highlight .css .id,
.entry.entry-post main .highlight .css .class,
.entry.entry-post main .highlight .css .pseudo {
  color: #f2777a;
}
.entry.entry-post main .highlight .number,
.entry.entry-post main .highlight .preprocessor,
.entry.entry-post main .highlight .built_in,
.entry.entry-post main .highlight .literal,
.entry.entry-post main .highlight .params,
.entry.entry-post main .highlight .constant {
  color: #f99157;
}
.entry.entry-post main .highlight .class,
.entry.entry-post main .highlight .ruby .class .title,
.entry.entry-post main .highlight .css .rules .attribute {
  color: #9c9;
}
.entry.entry-post main .highlight .string,
.entry.entry-post main .highlight .value,
.entry.entry-post main .highlight .inheritance,
.entry.entry-post main .highlight .header,
.entry.entry-post main .highlight .ruby .symbol,
.entry.entry-post main .highlight .xml .cdata {
  color: #9c9;
}
.entry.entry-post main .highlight .css .hexcolor {
  color: #6cc;
}
.entry.entry-post main .highlight .function,
.entry.entry-post main .highlight .python .decorator,
.entry.entry-post main .highlight .python .title,
.entry.entry-post main .highlight .ruby .function .title,
.entry.entry-post main .highlight .ruby .title .keyword,
.entry.entry-post main .highlight .perl .sub,
.entry.entry-post main .highlight .javascript .title,
.entry.entry-post main .highlight .coffeescript .title {
  color: #69c;
}
.entry.entry-post main .highlight .keyword,
.entry.entry-post main .highlight .javascript .function {
  color: #c9c;
}
.entry.entry-post main .footer .post-details {
  overflow: hidden;
  margin: 20px 50px 50px;
}
.entry.entry-post main .footer .post-details .details .date {
  clear: both;
}
.entry.entry-post main .footer .post-details .details .date .posted,
.entry.entry-post main .footer .post-details .details .date .updated {
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  color: #333;
}
.entry.entry-post main .footer .post-details .details .date .posted::before,
.entry.entry-post main .footer .post-details .details .date .updated::before {
  font-size: 0.8em;
}
.entry.entry-post main .footer .post-details .details .date .posted::before {
  content: 'Posted at : ';
}
.entry.entry-post main .footer .post-details .details .date .updated::before {
  content: 'Modified at : ';
}
.entry.entry-post main .footer .post-details .details .date .updated + .posted {
  color: #777;
  line-height: 20px;
  font-size: 13px;
}
.entry.entry-post main .footer .post-details .details .category,
.entry.entry-post main .footer .post-details .details .tag {
  clear: both;
  float: right;
}
.entry.entry-post main .footer .post-details .details .category::after,
.entry.entry-post main .footer .post-details .details .tag::after {
  content: '';
  display: block;
  clear: both;
}
.entry.entry-post main .footer .post-details .details .category li,
.entry.entry-post main .footer .post-details .details .tag li {
  float: left;
}
.entry.entry-post main .footer .post-details .details .category li a,
.entry.entry-post main .footer .post-details .details .tag li a {
  text-decoration: none;
}
.entry.entry-post main .footer .post-details .details .category li a::before,
.entry.entry-post main .footer .post-details .details .tag li a::before {
  margin-right: 0.3em;
  font-family: Ionicons;
}
.entry.entry-post main .footer .post-details .details .category {
  margin-top: 10px;
}
.entry.entry-post main .footer .post-details .details .category li a {
  color: #555;
  font-size: 15px;
  line-height: 25px;
}
.entry.entry-post main .footer .post-details .details .category li a::before {
  content: '\f435';
}
.entry.entry-post main .footer .post-details .details .tag {
  margin: 5px 0 20px 0;
}
.entry.entry-post main .footer .post-details .details .tag li a {
  color: #888;
  font-size: 13px;
  line-height: 18px;
}
.entry.entry-post main .footer .post-details .details .tag li a::before {
  content: '\f48d';
}
.entry.entry-list-item {
  overflow: hidden;
  margin-bottom: 40px;
}
.entry.entry-list-item .date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  border-bottom-left-radius: 5px;
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 13px;
}
.entry.entry-list-item .eyecatch {
  float: left;
  width: 280px;
  height: 200px;
  background-position: center center;
  background-size: cover;
}
.entry.entry-list-item .details {
  margin-left: 280px;
  padding: 20px 30px 0;
}
.entry.entry-list-item .details h2 {
  height: 52px;
  font-size: 18px;
  line-height: 26px;
}
.entry.entry-list-item .details .summary {
  height: 40px;
  margin: 8px 10px 30px;
  font-size: 13px;
  line-height: 20px;
}
.entry.entry-medium .date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 25px 5px 12px;
  border-bottom-right-radius: 5px;
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 13px;
}
.entry.entry-medium .eyecatch {
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
}
.entry.entry-medium .details {
  padding: 20px 15px;
}
.entry.entry-medium h2 {
  font-size: 18px;
  line-height: 24px;
}
.entry.entry-medium .summary {
  overflow: hidden;
  height: 3.2em;
  margin: 10px 12px 5px;
  font-size: 12px;
  line-height: 1.6;
  color: #555;
}
.entry.entry-large {
  display: flex;
  align-items: stretch;
  border-radius: 2px;
}
.entry.entry-large.entry-latest {
  overflow: hidden;
}
.entry.entry-large.entry-latest::before {
  content: 'Latest';
  position: absolute;
  right: 0;
  top: 106.06703436571914px;
  width: 150px;
  height: 40px;
  margin-top: -40px;
  z-index: 1;
  line-height: 40px;
  color: #fff;
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 15px;
  transform: rotate(45deg);
  transform-origin: right bottom;
}
.entry.entry-large .eyecatch {
  float: left;
  position: relative;
  overflow: hidden;
  width: 360px;
  background-position: center center;
  background-size: cover;
}
.entry.entry-large .details {
  flex: 1;
  padding: 25px 45px 30px 20px;
}
.entry.entry-large .details .date {
  position: relative;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 22px;
}
.entry.entry-large .details .date::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 1.2em;
  border-bottom: 2px solid;
}
.entry.entry-large .details h2 {
  margin: 25px 0 18px;
  font-size: 24px;
  line-height: 35px;
}
.entry.entry-large .details .summary {
  margin: 0 12px 3px;
  font-size: 14px;
  line-height: 1.6;
}
.paginator-wrapper {
  clear: both;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.paginator-wrapper .paginator {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 2px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.6), 0 0 2px rgba(0,0,0,0.3);
}
.paginator-wrapper .paginator a {
  text-decoration: none;
}
.paginator-wrapper .paginator .page-number {
  display: block;
  width: 30px;
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 800;
  text-align: center;
  line-height: 27px;
  box-sizing: border-box;
  font-size: 14px;
  color: #444;
}
.paginator-wrapper .paginator .page-number:not(.current) {
  padding-top: 4px;
  border-bottom: 4px solid transparent;
}
.paginator-wrapper .paginator .page-number.current {
  border-radius: 3px;
  line-height: 35px;
  color: #fff;
  font-weight: 400;
}
.paginator-wrapper .paginator .page-number.current + .page-number {
  margin-left: 5px;
}
.paginator-wrapper .paginator .page-number + .current {
  margin-left: 5px;
}
.paginator-wrapper .paginator .space {
  font-size: 13px;
  width: 25px;
  line-height: 35px;
  text-align: center;
}
.paginator-wrapper .paginator .prev,
.paginator-wrapper .paginator .next {
  display: block;
  overflow: hidden;
  width: 40px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
}
.paginator-wrapper .paginator .prev::before,
.paginator-wrapper .paginator .next::before {
  display: block;
  width: 40px;
  height: 35px;
  font-family: Ionicons;
  text-align: center;
}
.paginator-wrapper .paginator .prev {
  margin-right: 5px;
  border-right: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.paginator-wrapper .paginator .prev::before {
  content: '\f124';
}
.paginator-wrapper .paginator .next {
  margin-left: 5px;
  border-left: 1px solid #ccc;
}
.paginator-wrapper .paginator .next::before {
  content: '\f125';
}
.adsense {
  clear: both;
  display: block;
}
.adsense.center {
  margin: 0 auto;
}
.adsense.adsense-wide {
  width: 728px;
}
.adsense.adsense-square {
  width: 300px;
}
.adsense.adsense-mobile-text {
  width: 310px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.adsense.adsense-mobile-wide {
  width: 320px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.adsense .label {
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 400;
  color: #555;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}
.archive-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 20px 0;
  padding-right: 20px;
  background: rgba(255,255,255,0.4);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  box-sizing: border-box;
  text-shadow: 0 2px 1px rgba(0,0,0,0.2);
  font-size: 22px;
  color: #333;
}
.archive-title span {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  line-height: 70px;
  text-align: center;
  text-shadow: none;
  color: #fff;
}
.simochee-works p {
  margin: 8px 12px;
  padding: 20px 0;
  border: 1px solid #dfdfdf;
  background: #f2f2f2;
  text-align: center;
  color: #888;
  font-size: 18px;
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 100;
}
.index-header {
  overflow: hidden;
  padding-top: 60px;
  text-align: center;
  background: url("/images/common/header-bg.jpg") top center;
  background-size: cover;
}
.index-header .bland {
  margin-top: 60px;
  font-size: 60px;
  line-height: 100px;
  font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 100;
}
.index-header h1 {
  margin-bottom: 110px;
  font-size: 13px;
  line-height: 30px;
}
.recommend-service {
  width: 100%;
  padding: 24px 0;
  background: #252521;
}
.recommend-service .container {
  display: flex;
  align-items: center;
}
.recommend-service .container .comment {
  flex: 1;
  color: #ccc;
  line-height: 1.7;
  font-size: 16px;
}
.recommend-service .container .btn {
  margin-left: 30px;
  padding: 8px 12px;
  border: 2px solid;
  color: #fff;
  text-decoration: none;
  transition: all 0.1s ease;
}
.recommend-service .container .btn:hover {
  background-color: transparent !important;
}
.page-header {
  height: 300px;
  margin-bottom: -300px;
  padding-top: 60px;
  background: url("/images/common/header-bg.jpg") center center;
  background-size: cover;
  box-shadow: inset 0 -160px 100px -100px #fff;
}
@media (max-width: 1000px) {
  .navbar {
    z-index: 100;
  }
  .navbar .left,
  .navbar .right {
    float: none;
  }
  .navbar .navbar-container {
    min-width: 100%;
  }
  .navbar .bland {
    width: 100%;
    text-align: center;
  }
  .navbar .nav-trigger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.4s ease;
  }
  .navbar .nav-trigger::before,
  .navbar .nav-trigger::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-family: Ionicons;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }
  .navbar .nav-trigger::before {
    content: '\f20e';
    opacity: 1;
    transform: translateY(0);
  }
  .navbar .nav-trigger::after {
    content: '\f2d7';
    opacity: 0;
    transform: translateY(8px);
  }
  .navbar .nav-trigger.theme-accent__color {
    background: #fff !important;
  }
  .navbar .nav-trigger.theme-accent__color::before {
    opacity: 0;
    transform: translateY(-8px);
  }
  .navbar .nav-trigger.theme-accent__color::after {
    opacity: 1;
    transform: translateY(0);
  }
  .navbar .nav-trigger.theme-accent__color + .navbar-nav {
    width: 240px;
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.4s ease, opacity 0.4s ease;
  }
  .navbar .navbar-nav {
    position: fixed;
    top: 60px;
    right: 0;
    overflow: hidden;
    width: 0;
    background: #fff;
    opacity: 0;
    transform: translateY(12px);
    transition: transform 0.6s ease, opacity 0.6s ease, width 0s 0.6s;
  }
  .navbar .navbar-nav li {
    float: none;
  }
  .navbar .navbar-nav li > a {
    text-align: center;
  }
  .navbar .navbar-nav li.social {
    float: left;
    width: 33.333333333333336%;
    text-align: center;
  }
  .container {
    width: 100%;
  }
  .index-header {
    width: 100%;
  }
  .index-header .bland {
    font-size: 50px;
  }
  .recommend-service {
    padding: 24px 20px;
    box-sizing: border-box;
  }
  .entry .footer .post-comment {
    margin: 20px 10px 0;
  }
  .entry.entry-col-2 {
    float: none;
    width: auto;
  }
  .entry.entry-post {
    width: auto;
    margin: 0 10px 20px 10px;
    padding: 20px 0;
  }
  .entry.entry-post main .header {
    padding: 15px;
  }
  .entry.entry-post main .header .toc {
    margin-top: 15px;
    padding: 20px 10px 0;
  }
  .entry.entry-post main .content {
    margin: 20px 0;
  }
  .entry.entry-post main .content .highlight {
    margin-bottom: 15px;
  }
  .entry.entry-post main .content h1::before,
  .entry.entry-post main .content h1::after {
    width: 60%;
    margin-left: -30%;
  }
  .entry.entry-post main .content h2 {
    margin: 50px 0 24px;
  }
  .entry.entry-post main .content h2::before {
    width: 120px;
  }
  .entry.entry-post main .content h3 {
    margin: 50px 0 20px;
    padding-left: 15px;
  }
  .entry.entry-post main .content h4,
  .entry.entry-post main .content h5 {
    margin: 40px 15px 20px;
  }
  .entry.entry-post main .content p {
    margin: 0 5% 15px;
  }
  .entry.entry-post main .content p img {
    max-width: 112%;
    width: 112%;
    margin: 0 -6%;
  }
  .entry.entry-post main .footer .post-details {
    margin: 12px 20px 20px;
  }
  .entry.entry-post main .footer .post-details .details .date .posted,
  .entry.entry-post main .footer .post-details .details .date .updated {
    font-size: 14px;
    line-height: 22px;
  }
  .entry.entry-post main .footer .post-details .details .date .updated + .posted {
    font-size: 11px;
    line-height: 18px;
  }
  .entry.entry-post main .footer .post-details .details .category {
    margin-top: 0;
  }
  .entry.entry-post main .footer .post-details .details .category li a {
    line-height: 20px;
    font-size: 13px;
  }
  .entry.entry-post main .footer .post-details .details .tag li a {
    line-height: 16px;
    font-size: 11px;
  }
  .entry.entry-list-item {
    display: block;
    margin: 20px 10px;
  }
  .entry.entry-list-item .date {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    border-bottom-left-radius: 5px;
    font-family: 'Roboto', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
  }
  .entry.entry-list-item .eyecatch {
    float: none;
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: cover;
  }
  .entry.entry-list-item .details {
    margin: 0;
    padding: 20px 15px;
  }
  .entry.entry-list-item .details h2 {
    height: auto;
    font-size: 18px;
    line-height: 24px;
  }
  .entry.entry-list-item .details .summary {
    overflow: hidden;
    height: 3.2em;
    margin: 10px 12px 5px;
    font-size: 12px;
    line-height: 1.6;
    color: #555;
  }
  .entry.entry-medium {
    display: block;
    margin: 20px 10px;
  }
  .entry.entry-large {
    display: block;
    margin: 20px 0;
    border-radius: 2px;
  }
  .entry.entry-large .eyecatch {
    float: none;
    width: 100%;
    height: 300px;
  }
  .entry.entry-large .details {
    padding: 20px 20px;
  }
  .archive-title {
    width: auto;
    height: 40px;
    margin: 20px 20px;
    line-height: 40px;
    font-size: 18px;
  }
  .archive-title span {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    line-height: 50px;
  }
  .global-footer .jumper {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
  }
  .global-footer .container .launchers > li {
    float: none;
    display: block;
  }
  .global-footer .container .launchers.col-3 > li,
  .global-footer .container .launchers.col-2 > li {
    width: auto;
  }
  .global-footer .container .launchers,
  .global-footer .container .lancuher {
    margin: 8px 0;
  }
  .global-footer .container .recent-posts {
    width: 100%;
    display: block;
    margin: 8px 0;
  }
  .global-footer .container .recent-posts .recent-post {
    display: flex;
    align-items: center;
  }
  .global-footer .container .recent-posts .recent-post:nth-child(2) {
    margin: 15px 0;
  }
  .global-footer .container .recent-posts .recent-post .eyecatch {
    width: 40%;
    height: 120px;
  }
  .global-footer .container .recent-posts .recent-post .details {
    flex: 1;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  .global-footer .container .recent-posts .recent-post .details h6 {
    min-height: auto;
  }
  .global-footer .container .recent-posts .recent-post .details .recent-footer {
    width: 100%;
    margin: 15px 0 0;
  }
  .global-footer .container .profile {
    margin: 0 20px;
  }
  .global-footer .container .profile .avator {
    width: 80px;
    height: 80px;
  }
  .global-footer .container .profile .content {
    margin: 15px 0 0 90px;
  }
}
.theme-accent__border-color {
  border-color: #123456 !important;
}
.theme-accent__background-color {
  background-color: #123456 !important;
}
.theme-accent__color {
  color: #123456 !important;
}
.theme-accent__hover__color:hover {
  color: #123456 !important;
}
.theme-accent__hover__background-color:hover {
  background-color: #123456 !important;
}
.theme-accent__before__color::before {
  color: #123456;
}
.theme-accent__before__background-color::before {
  background-color: #123456;
}
.theme-accent__before__border-color::before {
  border-color: #123456 !important;
}
.global-footer .dist-list li::before {
  background: #123456;
}
.paginator-wrapper .paginator .page-number:not(.current):hover {
  border-color: #123456;
  color: #123456;
}
.paginator-wrapper .paginator .page-number.current {
  background: #123456;
}
.paginator-wrapper .paginator .prev,
.paginator-wrapper .paginator .next {
  color: #123456;
}
.entry-post-content h1::before,
.entry-post-content h1::after {
  background: #123456 !important;
}
.entry-post-content h2::before {
  background: #123456 !important;
}
.entry-post-content h3 {
  border-color: #123456 !important;
}
.entry-post-content ul li::before {
  background: #123456 !important;
  border-color: #123456 !important;
}
.entry-post-content ol li::before {
  color: #123456 !important;
}
.entry-post-content a:hover {
  color: #123456 !important;
}
.entry-post-content em {
  background-image: -webkit-linear-gradient(to bottom, transparent, transparent 60%, #abcced 60%, #abcced);
  background-image: -o-linear-gradient(to bottom, transparent, transparent 60%, #abcced 60%, #abcced);
  background-image: linear-gradient(to bottom, transparent, transparent 60%, #abcced 60%, #abcced);
}
